.button{
  box-shadow: 3px 2px 3px  #972742, -3px -2px 3px #972742, -3px 2px 3px  #972742, 3px -2px 3px #972742;
  border-radius: 20%;
}

.button:hover{
  box-shadow: 3px 2px 3px  #4fd78d, -3px -2px 3px #4fd78d, -3px 2px 3px  #4fd78d, 3px -2px 3px #4fd78d;
}

.floating_number {
  text-shadow:
    1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black;
  offset-position: left top;
  position: absolute;
  z-index: 5;
  animation: slideup 2s linear forwards;
}

@keyframes slideup {
  0% {
      top: 0px;
  }
  75% {
      top: -24px;
  }
  100% {
      opacity: 0;
      top: -32px;
  }
}

.icons {
  margin-bottom:-2px ;
  padding-left: 30px ;
  padding-right: 5px;
}
.mapicon{
margin-bottom: -5px;
}
img,
canvas,
body *{
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}