.Object{
  width: 70px;
  position: relative;
  margin-left: calc((100vw - (80px * 6))/13);
  margin-right: calc((100vw - (80px * 6))/13);
  margin-top: 5%;
  box-shadow: -5px -5px 5px blue , 5px 5px 5px blue , -5px 5px 5px white  , 5px -5px 5px white ;
  border-radius: 5%;
  background-color: gray;
}
a.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #4FD78D;
  background: #28636D;
  padding: 7px 6px;
  min-width: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  border: #4FD78D solid 1px;
  box-shadow: 0px 0px 5px #4fd78d, 0px 0px 5px #4fd78d, 0px 0px 5px #4fd78d, 0px 0px 5px #4fd78d;
  border-radius: 5px;
  transition: 0.5s;
  filter: brightness(1) contrast(100%);
}
a.btn:hover {
  filter: brightness(1.5) contrast(150%);
}
.btn-box {
  position: fixed;
  left: 0;
  top: 0;
  margin: 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.close{
  position: absolute;
  top: 0px;
  right: 0px;
}
h1{
  color: red;
}
h2{
  color: #bcbbbf ;
}
h3{
  color: gray;
}
#statsskillTree,
#statsTurmListe,
#stats{
  background: linear-gradient(200deg,#6de3a2, #A36BFF);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px;
  border-color: black;
  border-style: double;
  border-radius: 5px ;
  min-width: 200px;
}
#skillskillTree{
  background: linear-gradient(200deg,#6de3a2, #A36BFF);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px;
  border-color: black;
  border-style: double;
  border-radius: 5px ;
  min-width: 200px;
}
#nameskillTree,
#nameturmListe,
#namegegnerListe{
  font-size: 2em;
}
#schwierigkeitgegnerListe{
  font-weight: bold;
  color: gray;
  background-color: transparent;
  border-width: 3px;
}
#skillTree,
#gegnerListe,
#turmListe{
  overflow: hidden;
}